.reviews {
  background-color: var(--blue-color);
  padding-top: 220px;
  padding-bottom: 220px;

  @media (max-width: 941px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__review {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 785px;

    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 34px;

      @media (max-width: 941px) {
        width: 55px;
      }
    }

    @media (max-width: 941px) {
      width: 70%;
    }
  }

  &__review-title {
    margin: 0;
    margin-bottom: 20px;
    position: relative;
    color: var(--gold-color);
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;

    @media (max-width: 941px) {
      font-size: 25px;
    }
  }

  &__review-text {
    margin: 0;
    margin-bottom: 30px;
    color: var(--light-color);
    font-size: 16px;
    line-height: 40px;

    @media (max-width: 941px) {
      font-size: 14px;
      line-height: 30px;
    }
  }

  &__review-author {
    color: var(--gold-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 5.88px;

    @media (max-width: 941px) {
      font-size: 18px;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;

    @include mobile {
      display: none;
    }

    & svg {
      width: 70px;
      height: 70px;
      fill: none;
      stroke: var(--gold-color);
      stroke-width: 3;
    }

    &.swiper-button-disabled svg {
      stroke: var(--light-color);
    }

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }

  &__pagination {
    display: none;
    position: relative;
    margin-top: 40px;

    .swiper-pagination-bullet {
      background-color: var(--light-color);
    }

    .swiper-pagination-bullet-active {
      background-color: var(--gold-color);
    }

    @include mobile {
      display: block;
    }
  }
}
