.sfeerfoto {
  position: relative;
  padding-top: 68px;
  background: linear-gradient(
    to bottom,
    var(--blue-color) 0%,
    var(--blue-color) 50%,
    var(--light-color) 50%,
    var(--light-color) 100%
  );

  @media (max-width: 540px) {
    padding-top: 20px;
  }

  &__container {
    position: relative;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    @media (max-width: 725px) {
      flex-direction: column;
      gap: 40px;
      text-align: center;
    }
  }

  &__title {
    margin: 0;
    color: var(--light-color);
    font-size: 48px;
    font-weight: 700;
    line-height: 81px;

    @media (max-width: 540px) {
      font-size: 35px;
    }
  }

  &__subtitle {
    margin: 0;
    color: var(--light-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    max-width: 570px;

    @media (max-width: 540px) {
      font-size: 15px;
    }
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 970px;

    @media (max-width: 1011px) {
      width: 700px;
    }

    @media (max-width: 725px) {
      width: 500px;
    }

    @media (max-width: 540px) {
      width: 300px;
    }
  }

  &__arrows {
    display: flex;
    gap: 30px;

    @media (max-width: 540px) {
      display: none;
    }
  }

  &__arrow {
    cursor: pointer;
    z-index: 10;

    & svg {
      width: 70px;
      height: 70px;
      fill: none;
      stroke: var(--gold-color);
      stroke-width: 3;
    }

    &.swiper-button-disabled svg {
      stroke: var(--light-color);
    }

    &--prev {
      right: 0;
    }

    &--next {
      left: 0;
    }
  }

  &__pagination {
    display: none;
    position: relative;
    margin-top: 40px;

    .swiper-pagination-bullet {
      background-color: var(--blue-color);
    }

    .swiper-pagination-bullet-active {
      background-color: var(--gold-color);
    }

    @include mobile {
      display: block;
    }
  }
}
