<section id="advantages" class="advantages">
  <div class="container">
    <div class="advantages__item advantages__item--right">
      <div class="advantages__text">
        <h2 class="advantages__title">LEKKER ETEN</h2>
        <p class="advantages__descr">
          Eten gaat niet over indruk maken op mensen. Het gaat erom dat ze zich op hun gemak voelen. Dat is onze filosofie, goed eten in een goede sfeer.
        </p>
      </div>
      <div class="advantages__img">
        <img src="img/meet.jpg" alt="Meet">
      </div>
    </div>
    <div class="advantages__item advantages__item--left">
      <div class="advantages__text">
        <h2 class="advantages__title">TOFFE AMBIANCE</h2>
        <p class="advantages__descr">
          Het creëren van de juiste sfeer is zeer belangrijk voor ons. We nemen onze tijd om te zorgen dat alle elementen bijdragen aan de juiste setting.
        </p>
      </div>
      <div class="advantages__img">
        <img src="img/beer.jpg" alt="Beer">
      </div>
    </div>
    <div class="advantages__item advantages__item--right">
      <div class="advantages__text">
        <h2 class="advantages__title">LEKKERE COCKTAILS</h2>
        <p class="advantages__descr">
          Ons doel is simpel: een gastvrije plek bieden waar u kunt genieten van een onvergetelijke cocktail, een goed gesprek en lekker eten.
        </p>
      </div>
      <div class="advantages__img">
        <img src="img/coctails.jpg" alt="Coctails">
      </div>
    </div>
  </div>
</section>
