<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <a href="/" class="footer__logo">
        <img src="img/logo-color.svg" alt="logo">
      </a>
      <ul class="footer__social-icons list-reset">
        <li class="footer__icon">
          <a href="#">Fb</a>
        </li>
        <li class="footer__icon"><a href="#">Ig</a></li>
        <li class="footer__icon"><a href="#">Tw</a></li>
        <li class="footer__icon"><a href="#">Yt</a></li>
      </ul>
    </div>
  </div>
</footer>
