<section id="menu" class="menu">
  <div class="container">
    <div class="menu__wrapper">
      <div class="menu__items">
        <div class="menu__item">
          <p class="menu__item-title">Woensdag 12/01</p>
          <div class="menu__item-text">
            <span class="menu__item-name">Salade met Serrano</span>
            <div class="menu__item-circles">
              <span class="menu__item-circle"></span>
              <span class="menu__item-circle"></span>
              <span class="menu__item-circle"></span>
            </div>
            <span class="menu__item-name">Steak Tartaar</span>
          </div>
        </div>
        <div class="menu__item">
          <p class="menu__item-title">Donderdag 13/01</p>
          <div class="menu__item-text">
            <span class="menu__item-name">Toast Roquefort</span>
            <div class="menu__item-circles">
              <span class="menu__item-circle"></span>
              <span class="menu__item-circle"></span>
              <span class="menu__item-circle"></span>
            </div>

            <span class="menu__item-name">Penne met Kip en Prei</span>
          </div>
        </div>
        <div class="menu__item">
          <p class="menu__item-title">Vrijdag 14/01</p>
          <div class="menu__item-text">
            <span class="menu__item-name">Verrassing van de Chef</span>
            <div class="menu__item-circles">
              <span class="menu__item-circle"></span>
              <span class="menu__item-circle"></span>
              <span class="menu__item-circle"></span>
            </div>
            <span class="menu__item-name">Penne met Kip en Prei</span>
          </div>
        </div>
        <div class="menu__item">
          <p class="menu__item-title">Vrijdag 15/01</p>
          <div class="menu__item-text">
            <span class="menu__item-name">Verrassing van de Chef</span>
            <div class="menu__item-circles">
              <span class="menu__item-circle"></span>
              <span class="menu__item-circle"></span>
              <span class="menu__item-circle"></span>
            </div>
            <span class="menu__item-name">Penne met Kip en Prei</span>
          </div>
        </div>
        <div class="menu__item">
          <p class="menu__item-title">Vrijdag 16/01</p>
          <div class="menu__item-text">
            <span class="menu__item-name">Verrassing van de Chef</span>
            <div class="menu__item-circles">
              <span class="menu__item-circle"></span>
              <span class="menu__item-circle"></span>
              <span class="menu__item-circle"></span>
            </div>
            <span class="menu__item-name">Penne met Kip en Prei</span>
          </div>
        </div>
      </div>
      <div class="menu__photo">
        <img
          class="menu__img menu__img--left"
          src="img/cafe-1.jpg"
          alt="cafe"
          width="323"
          height="486"
        />
        <div class="menu__border"></div>
        <img
          class="menu__img menu__img--right"
          src="img/cafe-2.jpg"
          alt="cafe"
          width="323"
          height="486"
        />
      </div>
    </div>
  </div>
</section>
